header{
    position: absolute;
    top:0;left:0;right:0;
}
header>section.light{
    background-color: white;
    padding:0.5em;
    height:2em;
}
header>section.dark{
    background-color: rgb(20, 20, 20);
    padding:0.5em;
    height:2.4em;
}
button{
    padding:0.5em;
    background-color: #eee;
    border:1px solid #bbb;
    border-bottom: 1px solid #999;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover{
    background-color: #ddd;
}
body{ margin:0; overflow-x: hidden;}

.graph{
    position: absolute;
    border-radius: 1em;
    border:1px solid #666;
    padding:1px;
    padding-top: 2px;
    background-color: white;
}
#RSSI.graph{
    left:1em;
    bottom:1em;
}
#Temperature.graph{
    left:1em;
    bottom:calc(1.5em + 150px);
}
#Velocity.graph{
    left:1em;
    bottom:calc(1.5em + 310px);
}

img.logo{
    height:3em;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
}
#status>img.disabled{
    opacity: 0.5;
}
section#status{
    position: absolute;
    bottom: 1em;
    right:1em;
    width: fit-content;
}
p.filled{
    background-color: white;
    padding:0.5em;
    font-size: 14pt;
    position: relative;
    top:10px;
}

#countdown{
    color:white;
    font-weight: 900;
    margin: 0;
    font-size: 2em;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
    width: fit-content;
}

#cli{
    background-color: #222;
    border: 1px solid #666;
    border-radius: 0.5em;
    padding:0.3em;
    position: relative;
    width: fit-content;
}
#cli>input{
    color:rgb(175, 255, 151);
    border:none;
    outline:none;
    background-color: #222;
}
#cli>section{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0,calc(100% + 1px));
    padding: 0.5em;
    border: none;
    outline:none;
    background-color: #222;
    min-width:calc(100% - 0.6em);
    width: 25em;
    height:8em;
    border-radius: 0.5em;
    display: none;
}
section#console-log>p{
    margin: 0;
    color:rgb(175, 255, 151);
}
section#console-log>p:hover{background-color: black;
}
.system{color:rgb(76, 180, 221);
}
.user{color:rgb(49, 167, 49);
}
.err{color:rgb(221, 81, 76);
}