header{
    position: absolute;
    top:0;left:0;right:0;
    height:2em;
    background-color: white;
    padding:0.5em;
}
header>button{
    padding:0.5em;
    background-color: #eee;
    border:1px solid #bbb;
    border-bottom: 1px solid #999;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}
header>button:hover{
    background-color: #ddd;
}
body{ margin:0; overflow-x: hidden;}

.graph{
    position: absolute;
    border-radius: 1em;
    border:1px solid #666;
    padding:1px;
    padding-top: 2px;
    background-color: white;
}
#RSSI.graph{
    left:1em;
    bottom:1em;
}
#Temperature.graph{
    left:1em;
    bottom:calc(1.5em + 150px);
}
#Velocity.graph{
    left:1em;
    bottom:calc(1.5em + 310px);
}

img.logo{
    height:3em;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
}
#status>img.disabled{
    opacity: 0.5;
}
section#status{
    position: absolute;
    bottom: 1em;
    right:1em;
    width: fit-content;
}
p.filled{
    background-color: white;
    padding:0.5em;
    font-size: 14pt;
    position: relative;
    top:10px;
}